<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>mymatch</title>
    
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item active">
                 <a class="nav-link" href="{% url 'profile' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="{% url 'mymatches' %}"> My Matches <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" href="{% url 'profile' %}"> My details <span class="sr-only">(current)</span></a>
               </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}"> Logout <span class="sr-only">(current)</span></a>
           </li>
        </ul>
  </div>
</nav> 
<header> Welcome {{ username }} </header>


    <main>
   
</nav>
<div class="container-sm">
    <p1> Email: {{ userEmail }}</p1>
    <br />
    <p1> First Name: {{ username }}</p1>
    <br />
    <p2>  Gender: {{ userGender }} </p2>
    <br />
    <p3>  Date of Birth: {{ userDOB }}</p3>
    <br />
    </div>
</main>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>